:root {
    --bg-pri-clear: #E0FFFF;
    --bg-alt-clear: #F5F0E1;
    --txt-pri-clear: #5D534A;
    --txt-alt-clear: #F5F0E1;
    --footer-bg-clear: #D2691E;
    --footer-txt-clear: #F0E68C;
    --hero-clear: url('./img/clear.jpg');
    
    --bg-pri-clouds: #D8E2ED;
    --bg-alt-clouds: #E6E6FA;
    --txt-pri-clouds: #32323D;
    --txt-alt-clouds: #32323D;
    --footer-bg-clouds: #6565A3;
    --footer-txt-clouds: #F0E68C;
    --hero-clouds: url('./img/clouds.jpg');

    --bg-pri-rain: #9FA2B3;
    --bg-alt-rain: #DCDCDC;
    --txt-pri-rain: #262626;
    --txt-alt-rain: #F8F8FF;
    --footer-bg-rain: #566767;
    --footer-txt-rain: #F0E68C;
    --hero-rain: url('./img/rain.jpg');

    --bg-pri-snow: #FFFFFF;
    --bg-alt-snow: #F0F8FF;
    --txt-pri-snow: #696969;
    --txt-alt-snow: #FFFFFF;
    --footer-bg-snow: #737373;
    --footer-txt-snow: #F0E68C;
    --hero-snow: url('./img/snow.jpg');

    --bg-pri-night: #3A3A5C;
    --bg-alt-night: #262626;
    --txt-pri-night: #FFFDD0;
    --txt-alt-night: #F5F0E1;
    --footer-bg-night: #D2691E;
    --footer-txt-night: #F0E68C;
    --hero-night: url('./img/night.jpg');
}
html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.clear {
    --bg-pri: var(--bg-pri-clear);
    --bg-alt: var(--bg-alt-clear);
    --txt-pri: var(--txt-pri-clear);
    --txt-alt: var(--txt-alt-clear);
    --footer-bg: var(--footer-bg-clear);
    --footer-txt: var(--footer-txt-clear);
    --hero: var(--hero-clear);
}

.thunderstorm, .drizzle, .rain {
    --bg-pri: var(--bg-pri-rain);
    --bg-alt: var(--bg-alt-rain);
    --txt-pri: var(--txt-pri-rain);
    --txt-alt: var(--txt-alt-rain);
    --footer-bg: var(--footer-bg-rain);
    --footer-txt: var(--footer-txt-rain);
    --hero: var(--hero-rain);
}

.atmosphere, .clouds {
    --bg-pri: var(--bg-pri-clouds);
    --bg-alt: var(--bg-alt-clouds);
    --txt-pri: var(--txt-pri-clouds);
    --txt-alt: var(--txt-alt-clouds);
    --footer-bg: var(--footer-bg-clouds);
    --footer-txt: var(--footer-txt-clouds);
    --hero: var(--hero-clouds);
}

.snow {
    --bg-pri: var(--bg-pri-snow);
    --bg-alt: var(--bg-alt-snow);
    --txt-pri: var(--txt-pri-snow);
    --txt-alt: var(--txt-alt-snow);
    --footer-bg: var(--footer-bg-snow);
    --footer-txt: var(--footer-txt-snow);
    --hero: var(--hero-snow);
}

.night {
    --bg-pri: var(--bg-pri-night);
    --bg-alt: var(--bg-alt-night);
    --txt-pri: var(--txt-pri-night);
    --txt-alt: var(--txt-alt-night);
    --footer-bg: var(--footer-bg-night);
    --footer-txt: var(--footer-txt-night);
    --hero: var(--hero-night);
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg-pri);
    color: var(--txt-pri);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--bg-pri);
    color: var(--txt-pri);
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 68px;
    padding: 0;
    --height: 20.7px;
}

header .logo {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

header .logo .box {
    content: '';
    height: var(--height);
    background-color: #D2691E;
}

.night header .logo .box {
    background-color: #975873;
}

header .logo .box:first-child {
    width: 1rem;
}

header .logo .box:last-child  {
    width: 100%;
}

#forecast {
    position: absolute;
    top: 10px;
    right: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .25rem;
}

#forecast .icon {
    width: 32px; height: 32px;
}

#temp {
    padding-right: 1rem;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

#unit {
    vertical-align: super;
    font-size: .8125rem;
    line-height: 0;
}

#hero {
    width: 100%; aspect-ratio: 80 / 33;
    background: var(--hero) no-repeat center/cover;
}

#hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 1.856rem;
    top: 6rem;
    gap: 1rem;
    left: 1.856vw;
    top: 6vw;
    left: 1.856vw;
    color: var(--txt-alt);
}

h1 {
    font-family: 'Vollkorn', serif;
    font-size: clamp(2rem, 0.3425rem + 7.0718vw, 10rem);
    font-weight: 900;
    line-height: .75;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-inline: -0.5vw;
    text-transform: uppercase;
}

h2 {
    font-family: Vollkorn;
    font-size: clamp(1.1256rem, 0.1928rem + 3.9799vw, 5.625rem);
    font-weight: 700;
    margin: 0;
    line-height: 1;
}

h3 {
    text-align: center;
    font-family: Vollkorn;
    font-size: 1.5rem;
    font-size: clamp(1.25rem, 0.0814rem + 1.6803vw, 2.375rem);
    font-weight: 700;
}

h4 {
    font-size: clamp(1rem, 0.0611rem + 1.2605vw, 1.75rem);
    font-weight: 700;
}

p {
    font-size: clamp(1rem, 0.0611rem + 1.2605vw, 1.75rem);
}

small {
    font-size: clamp(1rem, 0.0458rem + 0.9456vw, 0.8023rem);
}

#hero span {
    font-size: clamp(1rem, 0.0814rem + 1.6803vw, 2.375rem);
    margin-top: -1rem;
    margin-top: -1vw;
    line-height: 1;
    vertical-align: top;
}

.wrapper {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Change header background and text color */
.ui-accordion h3.ui-accordion-header {
    font-family: Vollkorn, serif;
    font-size: clamp(1.25rem, 0.0814rem + 1.6803vw, 2.375rem);
    font-weight: 700;
    background: var(--bg-alt);
    color: var(--txt-alt);
}

/* Change header hover/active state */
.ui-accordion .ui-accordion-header:hover, .ui-accordion .ui-accordion-header.ui-state-active {
    background: var(--txt-alt);
    color: var(--bg-alt);
    border: none;
    outline: none;
}

.ui-accordion .ui-accordion-content {
    background: var(--bg-pri);
    color: var(--txt-pri);
    padding: clamp(0.5rem, 0.25rem + 1vw, 1rem) !important;
}

main>section {
    padding: clamp(0.5rem, 0.25rem + 1vw, 1rem);
}

#activities {
    background-color: var(--bg-alt);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#activities .slides {
    --scroll-index: 0;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(10, 1fr);
    gap: clamp(0.5rem, 0.25rem + 1vw, 1rem);
    transform: translateX(calc(-92.5vw * var(--scroll-index)));
    transition: transform 0.5s ease;
}

#activities .slide {
    width: clamp(200px, 85.5vw + 1rem, 343px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#activities .slide a {
    color: var(--txt-pri);
    text-decoration: none;
    text-align: center;
}

#activities .slide img {
    width: 100%; aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

#activities .slide-nav {
    width: calc(100vw - 2rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    gap: 1rem;
}

#activities .slide-nav button {
    background-color: var(--bg-pri);
    color: var(--txt-pri);
    font-size: clamp(1rem, 0.0611rem + 1.2605vw, 1.75rem);
    font-weight: 600;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: clamp(0.5rem, 0.25rem + 1vw, 1rem);
}

.card {
    background-color: var(--bg-alt);
    color: var(--txt-alt);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.card a {
    color: var(--txt-pri) !important;
}