---
import Activities from "../components/Activities.astro";
import Footer from "../components/Footer.astro";
import Game from "../components/Game.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Info from "../components/Info.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>The Grand Canyon - National Arizona Park</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
		<script defer src="app.js"></script>
	</head>
	<body class="clear">
		<Header />
		<main>
			<Hero />
			<Activities />
			<Info />
			<Game />
		</main>
		<Footer />
	</body>
</html>