<section id="activities">
    <div class="wrapper">
        <h2>Activities</h2>
        <div class="carousel">
            <div class="slides">
            </div>
            <div class="slide-nav">
                <button class="left">Prev</button>
                <button class="right">Next</button>
            </div>
        </div>
    </div>
</section>