<footer>
    <div class="wrapper">
        <div class="logo"><img src="logoDayFooter.svg" alt="Grand Canyon Logo"></div>
        <div class="address">
            <address>
                Loading address...
            </address>
        </div>
        <div class="links">
            <a href="#activities"><small>Activities</small></a>
            <a href="#info"><small>Info</small></a>
            <a href="#game"><small>Game</small></a>
        </div>
    </div>
</footer>