<section id="game">
    <div class="wrapper">
        <h2>Memory Matching</h2>
        <div id="scoreBoard">
            <span id="moves">Flips: 0</span>
            <span id="time">Time: 0:00</span>
            <span id="currentScore">Current Score: 0</span>
            <span id="bestScore">Best Score: -</span>
        </div>
        <div id="gameBoard"></div>
        <button id="reset">Reset</button>
    </div>
</section>