---
import Weather from "./Weather.astro";
---

<header>
    <div class="logo">
        <div class="box"></div>
        <img src="logo.svg" alt="The Grand Canyon logo">
        <div class="box"></div>
    </div>
    <Weather />
</header>