---

// Entrance Fees
// Directions
// Hours
---


<section id="info">
    <div class="wrapper">
        <h2>General Info</h2>
        <div class="description">Loading...</div>
        <section id="accordion">
            <h3>Entrance Fees</h3>
            <div class="cards">
                <div class="card">
                    <h4>Title</h4>
                    <span>Price</span>
                    <p>Description</p>
                </div>
                <div class="card">
                    <h4>Title</h4>
                    <span>Price</span>
                    <p>Description</p>
                </div>
                <div class="card">
                    <h4>Title</h4>
                    <span>Price</span>
                    <p>Description</p>
                </div>
            </div>
            <h3>Directions</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda deserunt earum ullam cupiditate, blanditiis nostrum tenetur numquam placeat esse officiis aut culpa tempore debitis quae, corporis eos! Soluta, eligendi quia?</p>
            </div>
            <h3>Hours</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda deserunt earum ullam cupiditate, blanditiis nostrum tenetur numquam placeat esse officiis aut culpa tempore debitis quae, corporis eos! Soluta, eligendi quia?</p>
            </div>
        </section>
    </div>
</section>